/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .consultation .text {
        max-width: 370px;
    }
    .block-form {
       padding: 25px 20px;
   }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .fixed .logo img,
    .logo img {
       width: 209px;
   }
   .fixed .logo__descr,
   .logo__descr {
    bottom: 1px;
    left: 62px;
    font-size: 9px;
    width: 154px;
}
.header__contacts {
    font-size: 11px;
    line-height: 20px;
}
.btn-phone {
    font-size: 14px;
}
.billbord .col_pr,
.header__bottom .col_pr {
   padding-right: 15px;
}
.header__bottom .col_pl {
   padding-left: 15px;
}
.item-billbord {
   font-size: 13px;
}
.consultation {
   padding-bottom: 50px;
}
.steps__image img {
    width: 333px;
}
.steps__image {
    right: -97px;
    bottom: -105px;
}
.steps {
    padding-bottom: 120px;
}
.wrapper {
    padding-top: 195px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.hidden-mobile,
	.sidebar-main,
	.header__contacts,
    .header__top {
       display: none;
   }
   .col_pl {
       padding-left: 15px;
   }
   .col_pr {
       padding-right: 15px;
   }
   .btn-phone__text {
       display: none;
   }
   .btn-phone {
       width: 30px;
       height: 30px;
       padding: 0;
       vertical-align: middle;
       display: inline-block;
   }
   .btn-phone__icon {
    width: 30px;
    height: 30px;
    font-size: 10px;
}
.fixed .btn-catalog,
.btn-catalog {
    font-size: 15px;
    padding-left: 15px;
    font-weight: 500;
    height: 44px;
}
.btn-catalog i {
    font-size: 17px;
    margin-right: 10px;
}
.fixed .btn-basket,
.btn-basket {
    height: 44px;
    padding-left: 59px;
    background-position: 8px center;
    background-size: 15px;
}
.btn-basket__value {
    font-size: 12px;
    width: 15px;
    height: 15px;
    top: 8px;
    left: 17px;
}
.btn-basket__text {
    font-size: 13px;
}
.btn-basket__text span {
    font-size: 14px;
    display: block;
}
 .fixed .logo img,
.logo img {
    width: 135px;
}
.fixed .logo__descr,
.logo__descr {
    bottom: 1px;
    left: 41px;
    font-size: 6px;
    width: 103px;
}
.title-big {
    font-size: 29px;
    text-align: center;
}
.title-big br {
   display: none;
}
.descr-title-big {
    font-size: 18px;
    padding-top: 10px;
}
.billbord .btn-main {
    margin-top: 20px;
}
.billbord {
	text-align: center;
}
.billbord__image {
	max-width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}
.row_items-billbord > div {
  margin-bottom: 20px;
}
.pl_30 {
	padding-left: 15px;
}
.title-section {
    font-size: 26px;
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
}
.row_products > div {
    margin-bottom: 30px;
}
.consultation {
	padding-top: 0px;
}
.text {
    font-size: 15px;
}
.text p {
	margin-bottom: 15px;
}
.consultation__image img {
	max-width: 100%;
	margin: 0 auto;
    float: none;
}
.block-form__title {
    font-size: 21px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 600;
}
.block-form__descr {
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.row_steps {
    padding-top: 0;
}
.item-step {
	margin-bottom: 15px;
}
.steps {
    padding-bottom: 171px;
}
.steps__image {
    right: -97px;
    bottom: -137px;
}
.footer {
	text-align: center;
}
.footer__bottom .row > div {
	padding: 10px 0;
}
.footer__bottom .align_right {
	text-align: center;
}
.aos-init {
	opacity: 1 !important;
	transform: none !important;
}
/*
.header__center {
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: 800;
	border-bottom: 1px #eee solid;
}
*/
.wrapper {
	padding-top: 62px;
}
.btn_nav {
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
}
.menu-mobile {
	padding-bottom: 90px;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: 600;
	overflow: auto;
	display: none;
}
.menu {
	display: block;
}
.menu li a {
	padding: 12px 15px;
	display: block;
	border-bottom: 1px #5d6c67 solid;
	color: #5d6c67;
}
.menu li a:hover {
	border-color: #000;
}
.form-search input {
	border: 1px #5d6c67 solid;
}
.form-search {
	padding: 0 15px;
	margin-top: 30px;
}
.form-search form {
	position: relative;
}
.menu-mobile .header__contacts {
	font-size: 13px;
	display: block;
	padding: 0 15px;
	margin-top: 15px;
}
.header__main {
    position: relative;
}
.header__bottom .container {
    padding: 0;
}
.header__center {
    padding: 8px 0;
}
.wrapper {
    padding-top: 101px;
}
.billbord .title-big {
    padding-top: 30px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .menu-mobile {
       display: none !important;
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}