/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .consultation .text {
        max-width: 370px;
    }
    .block-form {
       padding: 25px 20px;
   }
   .about__image img {
    min-width: 485px;
    height: auto;
}
.about__image {
    top: 0;
    left: -89px;
    }
    .about {
      padding-bottom: 30px;
    }
    .card-action {
      margin-top: 15px;
    }
    .righ-card {
    padding: 34px 30px;
  }
  .block-contacts p {
    line-height: 28px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .fixed .logo img,
    .logo img {
       width: 209px;
   }
   .fixed .logo__descr,
   .logo__descr {
    bottom: 1px;
    left: 62px;
    font-size: 9px;
    width: 154px;
}
.header__contacts {
    font-size: 11px;
    line-height: 20px;
}
.btn-phone {
    font-size: 14px;
}
.billbord .col_pr,
.header__bottom .col_pr {
   padding-right: 15px;
}
.header__bottom .col_pl {
   padding-left: 15px;
}
.item-billbord {
   font-size: 13px;
}
.consultation {
   padding-bottom: 50px;
}
.steps__image img {
    width: 333px;
}
.steps__image {
    right: -97px;
    bottom: -105px;
}
.steps {
    padding-bottom: 120px;
}
.wrapper {
    padding-top: 195px;
}
.questions .block-form {
  margin-top: 30px;
}
.about__image img {
  min-width: inherit;
  max-width: 100%;
  margin: 0 auto;
  width: 400px;
}
.about__image {
  left: 0;
  margin-top: 30px;
}
.payment__image {
  margin-top: 30px;
}
.consultation_inner__image {
  display: none;
}
.corporate__image {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 20px;
}
.corporate__image img {
  max-width: 100%;
  height: auto;
}
.row_filter {
  margin-top: 35px;
}
.righ-card {
  margin-top: 50px;
  min-height: auto;
}
.row_card {
  margin-bottom: 30px;
}
.block-contacts {
  min-height: auto;
  margin-bottom: 30px;
}
.fliter-block {
  display: none;
}
.btn-main_filter {
  width: 260px;
  height: 48px;
  font-size: 14px;
  max-width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 auto;
}
.btn-main_filter i {
  height: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 35px;
}
.fliter-block {
  padding-top: 30px;
}
.item-product__image {
  position: relative;
  top: -1px;
}
.row_products {
  display: none !important;
}
.slider-products {
  padding-bottom: 60px;
  margin-right: -15px;
  margin-left: 0px;
}
.slider-products .slick-dots {
  bottom: 30px;
}
.slider-products .item-product {
  margin-right: 15px;
  box-shadow: none !important;
  transform: scale(1) !important;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.hidden-mobile,
	.sidebar-main,
	.header__contacts,
    .header__top {
       display: none;
   }
   .col_pl {
       padding-left: 15px;
   }
   .col_pr {
       padding-right: 15px;
   }
  
   .btn-phone {
       display: none;
   }
   .btn-callback,
   .btn-phone__icon {
    width: 30px;
    height: 30px;
    font-size: 10px;
    margin-right: 0;
}
.fixed .btn-catalog,
.btn-catalog {
    font-size: 15px;
    padding-left: 15px;
    font-weight: 500;
    height: 44px;
}
.btn-catalog i {
    font-size: 17px;
    margin-right: 10px;
}
.fixed .btn-basket,
 .btn-basket {
    height: 44px;
    padding-left: 0px;
    text-align: right;
    padding-right: 50px;
    justify-content: flex-end;

}
.btn-basket::after {
      background-position: right 20px center;
    background-size: 20px;
}
.btn-basket__value {
    font-size: 12px;
    width: 15px;
    height: 15px;
    top: 8px;
    left: 17px;
        right: 10px;
    left: auto;
}
.btn-basket__text {
    font-size: 13px;
}
.btn-basket__text span {
    font-size: 14px;
    display: block;
}
 .fixed .logo img,
.logo img {
    width: 135px;
}
.fixed .logo__descr,
.logo__descr {
    bottom: 1px;
    left: 41px;
    font-size: 6px;
    width: 103px;
}
.title-big {
    font-size: 29px;
    text-align: center;
}
.title-big br {
   display: none;
}
.descr-title-big {
    font-size: 18px;
    padding-top: 10px;
}
.billbord .btn-main {
    margin-top: 20px;
}
.billbord {
	text-align: center;
}
.billbord__image {
	max-width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}
.row_items-billbord > div {
  margin-bottom: 20px;
}
.pl_30 {
	padding-left: 15px;
}
.title-section {
    font-size: 26px;
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
}
.row_products > div {
    margin-bottom: 30px;
}
.consultation {
	padding-top: 0px;
}
.text {
    font-size: 15px;
}
.text p {
	margin-bottom: 15px;
}
.consultation__image img {
	max-width: 100%;
	margin: 0 auto;
    float: none;
}
.block-form__title {
    font-size: 21px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 600;
}
.block-form__descr {
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.row_steps {
    padding-top: 0;
}
.item-step {
	margin-bottom: 15px;
}
.steps {
    padding-bottom: 171px;
}
.steps__image {
    right: -97px;
    bottom: -137px;
}
.footer {
	text-align: center;
}
.footer__bottom .row > div {
	padding: 10px 0;
}
.footer__bottom .align_right {
	text-align: center;
}
.aos-init {
	opacity: 1 !important;
	transform: none !important;
}
/*
.header__center {
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: 800;
	border-bottom: 1px #eee solid;
}
*/
.wrapper {
	padding-top: 62px;
}
.btn_nav {
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
}
.menu-mobile {
	padding-bottom: 90px;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: 600;
	overflow: auto;
	display: none;
}
.menu {
	display: block;
}
.menu li a {
	padding: 12px 15px;
	display: block;
	border-bottom: 1px #5d6c67 solid;
	color: #5d6c67;
}
.menu li a:hover {
	border-color: #000;
}
.form-search input {
	border: 1px #5d6c67 solid;
}
.form-search {
	padding: 0 15px;
	margin-top: 30px;
}
.form-search form {
	position: relative;
}
.menu-mobile .header__contacts {
	font-size: 13px;
	display: block;
	padding: 0 15px;
	margin-top: 15px;
}
.header__main {
    position: relative;
}
.header__bottom .container {
    padding: 0;
}
.header__center {
    padding: 8px 0;
}
.wrapper {
    padding-top: 101px;
}
.billbord .title-big {
    padding-top: 30px;
}
.fixed .btn-basket__value {
    top: 8px;
}
.question__name {
    padding: 15px 15px;
    padding-right: 40px;
  }
  .question__answer {
    padding: 25px 15px;
  }
  .menu-mobile .btn-phone {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
  }
  .title-middle {
    font-size: 21px;
    padding: 15px 0;
  }
  .d_flex {
    flex-wrap: wrap;
  }
  .column-menu {
    max-width: 50%;
    width: 50%;
  }
  .menu-catalog {
    padding: 20px 15px;
    left: 0;
    right: 0;
    overflow: auto;
    padding-bottom: 40px;
  }
  .corporate .descr-title-big,
  .payment .descr-title-big,
  .about .descr-title-big_top {
    padding-top: 0;
    text-align: center;
  }
  .payment__image img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    width: 300px;
  }
  .row_filter {
    text-align: center;
  }
  .row_filter > div {
    margin: 10px 0;
  }
  .slider-card {
  margin-bottom: 50px;
}
.tabs li a {
  width: auto;
  padding: 0 30px;
}
.righ-card p {
  margin-bottom: 15px;
}
.righ-card p:last-child {
  margin-bottom: 0;
}
.footer .logo {
  margin-bottom: 15px;
}
.item-contact:last-child,
.item-contact {
  margin-bottom: 30px;
}
.block-contacts {
  padding-bottom: 0;
}
.card .row_products > div {
  margin-bottom: 30px;
}
.header__bottom  {
  padding: 0;
  background-color: #e1e0e6;
}
.btn-basket:before,
.btn-catalog:before {
  display: none;
}
.consultation__image {
  height: 200px;
}
.consultation__image img {
  max-height: 100%;
}
.hidden-mobile-text {
  display: none;
}
.link-show-text {
  display: inline-block;
  color: #666;
  margin-top: 15px;
  border-bottom: 1px #666 solid;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.link-show-text:hover {
  border-color: transparent;
}
.catalog {
    padding-bottom: 40px;
}
.item-billbord__icon {
    height: 65px;
  }
  .item-billbord {
    padding-bottom: 10px;
  }
  .row_items-billbord > div {
    margin-bottom: 12px;
}
.payment__image img,
.corporate__image img,
.about__image img {
  max-height: 200px;
  width: auto;
}
.row_catalog {
  margin: 0 -5px;
}
.row_catalog > div {
  padding: 0 5px;
}
.row_catalog .item-product__bottom {
  position: relative;
  display: block;
  padding: 0;
  padding-top: 10px;
}
.row_catalog .item-product {
  padding-bottom: 0;
}
.row_catalog  .item-product__image {
  height: 150px;
}
.row_catalog  .item-product__content {
    padding: 10px 10px;
    }
    .row_catalog  .item-product__name {
    font-size: 15px;
  }
  .row_catalog  .item-product__articul {
    padding-top: 6px;
    font-size: 12px;
}
.row_catalog  .item-product__price {
    font-size: 16px;
    padding-bottom: 10px;
    }
    .row_catalog > div {
      margin-bottom: 10px;
    }
   .btn-main_filter {
    width: 177px;
    font-size: 13px;
    padding-left: 0;
    height: 40px;
    padding-right: 20px;
    margin: 0;
    margin-right: 5px;
}
.item-select select {
  padding-right: 12px;
}
    .btn-main_filter i {
      right: 18px;
    }
    .head-mobile-filter {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
}
@media only screen and (max-width : 550px) {
.form-modal__image {
  left: 0;
  width: 100%;
 display: none;
}
.form-modal .block-form {
  width: 100%;
}
.form-modal {
  display: block;
}

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.question__name {
  font-size: 14px;
}
.question__name i {
  font-size: 11px;
  right: 15px;
}
.item-news__image {
  height: 210px;
}
.item-news__name, .item-news__date {
    padding: 0 15px;
    padding-right: 15px;
    }
    .item-news__name {
    font-size: 15px;
    padding-top: 15px;
  }
  .column-menu {
    max-width: 100%;
    width: 100%;
  }
  .item-about_left br {
    display: none;
  }
  .item-corporate::before {
    left: 20px;
    top: 45px;
  }
  .item-corporate {
    padding: 40px 50px;
    padding-right: 20px;
    font-size: 18px;
  }
  .corporate {
    padding-bottom: 30px;
  }
  .catalog .row_items-billbord {
    margin-bottom: 20px;
  }
  .row_filter {
    margin-top: 20px;
  }
  .slider-card__image {
    height: 300px;
  }
  .tabs li a {
    width: auto;
    height: 40px;
    padding: 0 10px;
    font-size: 13px;
    width: 100%;
}
.tabs li {
  margin: 0;
  flex: 1;
}
.tab-container {
  padding: 25px 15px;
}
.item-feature {
    font-size: 13px;
    margin-bottom: 15px;
    }
    .block-contacts {
      padding: 25px 15px;
      padding-bottom: 0;
    }
    #map {
      height: 370px;
    }
    .form-modal .block-form {
      padding-left: 20px;
      padding-right: 20px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .menu-catalog {
    height: auto !important;
  }
  .link-show-text,
    .menu-mobile {
       display: none !important;
   }
    .header__top {
    max-height: 300px;
    overflow: hidden;
   }
   .fixed .header__top {
    max-height: 0;
    padding: 0;
   }
   .header__top {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
   }
   .show-mobile {
    display: block;
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.btn-main_filter {
  display: none;
}
.fliter-block {
  display: block !important;
}
.slider-products {
  display: none !important;
}
}
@media only screen and (min-width : 992px) {
  .btn-catalog {
    top: 0;
    left: 0;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__top,
  .btn-basket::after,
  .btn-basket__text span,
  .btn-basket__text,
  .btn-phone,
   .btn-catalog i  {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
   }
   .fixed .btn-basket__text {
    font-size: 13px;
   }
   .fixed .btn-basket__text span {
    font-size: 15px;
}
   .fixed .btn-phone {
    font-size: 15px;
   }
  
.fixed .header__contacts {
  opacity: 0;
}
.fixed .btn-catalog {
    top: -51px;
    left: 203px;
    padding-right: 20px;
        padding-left: 10px;
  width: auto;
}
.fixed .btn-basket {
    top: -51px;
    left: -186px;
    padding-left: 46px;
    width: 162px;
}
.fixed .header__bottom {
  height: 0;
}
.fixed .btn-basket__value {
    top: 2px;
    left: 23px;
    width: 17px;
    height: 17px;
    font-size: 12px;
}
.fixed .btn-basket::after {
    background-position: 7px center;
}
.btn-basket {
  top: 0;
  left: 0;
}
.fixed .logo img {
    width: 190px;
}
.fixed .logo__descr {
    bottom: 5px;
    left: 57px;
    font-size: 8px;
    width: 140px;
}
.fixed .btn-basket, 
.fixed .btn-catalog {
  height: 40px;
  font-size: 16px;
}
.fixed  .btn-catalog i {
    margin-right: 13px;
    }
.fixed .form-search {
    width: 178px;
    top: -51px;
    left: -16px;
}
  .form-search {
    top: 0;
    left: 0;
  }
  .form-search input {
    border: 1px transparent solid;
  }
   .fixed .form-search input  {
    border-color: #ccc;
   }
   .fixed .header__bottom .container {
    height: 0;
   }
   .wrapper.wrapper_fixed {
  padding-top: 75px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.fixed .form-search {
  width: 235px;
}
.fixed .btn-catalog {
    top: -55px;
    left: 227px;
    padding-right: 60px;
    padding-left: 15px;
    }
    .fixed .form-search {
      top: -55px;
    }
    .fixed .btn-basket {
    top: -55px;
    left: -200px;
    padding-left: 57px;
    width: 197px;
}
}